# Variables locales
.env
.env.*
!.env.example

# Dependencias y builds
node_modules/
.next/
out/
build/
coverage/
.turbo/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema/editor
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
next-env.d.ts
.vscode/
.idea/
